<section class="project-covers">
  <% page.posts.each(function(post){ %>
    <a href="/<%= post.path %>" class="project-cover">
      <div class="cover-content-container">
        <div class="cover-image-wrap">
          <div class="cover-image">
            <!-- <img src="<%= post.thumb %>" alt="<%= post.title %>" /> -->
            <div class="cover cover-normal" style="background: url(<%= post.thumb %>) no-repeat 50% 50% / cover; padding-bottom: 75%;"></div>
          </div>
        </div>
        <div class="details-wrap">
          <div class="details">
            <div class="details-inner">
              <!-- <div class="date">2016</div> -->
              <div class="title">
                <%= post.title %>
              </div>
              <div class="tags fields">
                <% post.tags.each(function(tag){ %>
                  <span><%= tag.name %></span>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <% }) %>
</section>
